# .NET
[Bb]in/
[Oo]bj/
*.user
*.suo

# Node/React
node_modules/
playground/dist/
playwright-report/
test-results/

# Fable Generated
flutter_app/lib/fable/
flutter_app/lib/fable_dart/
scratch.fsx.js

# Flutter/Dart
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.pub-cache/
flutter_app/.pub/
flutter_app/pubspec.lock
